{% extends "main/base_front.html" %}
{% block body %}
	{{ block.super }}
    {% if err %}
     	{{err_desc}}	
    {% endif %} 
<h1  id="titulo" style="text-align:center">Listado de Candidatos</h1> 
        <table id="cont" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15%">Nombre</td>
            <td width="14%">Apellido</td>
            <td width="71%">Documento</td>
          </tr>
          {# En candidatos tengo query set#}
          {% for candidato in candidatos %}
            <tr>
                <td>{{candidato.nombre}}</td>
                <td>{{candidato.apellido}}</td>
                <td><a href="/candidatos/{{candidato.ciudad.id}}/{{candidato.id}}">{{candidato.documento}}</a></td>
           </tr>
          {% endfor %}
        </table>
{% endblock %}

