{% extends "main/base_front.html" %}
{% block body %}
	{{ block.super }}
    <h1 id="titulo" align="center">Reporte por ciudades en {{campania.nombre}}</h1>
    {% if msg %}
<h2 align="center">{{msg}}</h2>
    {%else%}
    <table  width="27%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr id="titRep" align="center">
        <th>Nombre</th>       
        <th>Qty</th>        
      </tr>
      {% for value in reporte %}
      
      <tr align="center">
        <td>{{value.ciudad.nombre}}</td>       
        <td>{{value.qfy}}</td>     
      </tr>      
      {% endfor%}
    </table>
    {%endif %}    
{% endblock %}