<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block titulo %} Desarrollo de app webs {% endblock %}</title>
<!--<link rel="stylesheet" href="/static/estilos.css" type="text/css" media="screen">-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
<script src="{{ STATIC_URL }}javascript/functions.js" ></script>
</head>
<body>
{% block header %} 
<div id="header" align="center"><h1>Sistema votacion por SMS</h1></div>
{% endblock %}

{% block body %} 

{% endblock %}

{% block footer %} 
<div align="center"><h1> FOOTER FRONT </h1></div>
{% endblock %}

</body>
</html>